.card {
	border-radius: 8px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #404040;
}

.card--disabled {
	background-color: #F7F7F7;
}

.balance,
.subtext {
	margin: 0;
}

.balance {
	font-weight: 100;
	font-size: 44px;
	text-align: center;
}

.subtext {
	font-weight: 900;
	text-align: right;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
}